body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to right, #1c1224,#393b44)
}

.calc-grid{
    border: solid 1px grey;
    display: grid;
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    grid-template-columns: repeat(4, 100px);
    align-content: center;
    justify-content: center;
    min-height: 100vh;
}

.calc-output{
    grid-column: 1 / -1;
    display: flex; 
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    background: rgba(0,0,0, 0.75);
    color: #fff;
    word-wrap: break-word;
    word-break: break-all;
}
.current-op{
    font-size: 2rem;
}
.previous-op{
    opacity: 0.7;
}

.calc-grid > button {
    cursor: pointer;
    border: solid 1px #fff;
    background: rgba(255, 255,255, 0.75);
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
}

button:hover{
    opacity: 0.95;
}

.calc-btn-number{
    grid-column: span 1;
    font-size: 1.7rem;
    font-weight: 400;
}
.calc-btn-operation, .calc-btn-clear, .calc-btn-del{
   font-size: 1.2rem;
}



.span-two{
    grid-column: span 2;
}

